html,
body {
  padding: 20;
  background-color:aliceblue;
}
.api {
    position: absolute;
    left: 10%;
    top: 10%;
    padding: 10px;
    }
.status-bar{
    font-size: 24px;
    padding: 20px;
    background-color: beige;
    position: relative;
    width: 400px;
    height: 300px;
}
.status{
     color: rgb(19, 104, 4);
     font-weight:bolder;
     float: right;
     text-align:start;
     padding-right: 200px;
    }

.results{
    font-size: 14px;
    position: relative;
    padding-top: 20px; 
    top: 0%;
   
}
.button {
    background-color:rgb(212, 218, 221);/* #1010666b;*/
    color: rgb(50, 156, 189);
    padding: 10px 14px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border-color: rgb(185, 170, 170);
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
  }
.hidden {
    display: none;
}