<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>API Docs</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link href='/static/styles/main.css' rel='stylesheet' />
</head>
<body>
  <div class="api">
    <h1>API Gateway Documentation</h1>
      <div><img src="/static/movealong.JPG" alt="Nothing to see here!">  
      </div>
    </div>
  </div>
  <script src='/static/src/app.js'></script>
</body>
</html>